.container{
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
}

.list{
    flex:1 1 auto;
    overflow-y:auto; /*넘치면 아래로 스크롤하도록*/
}